@import "~/@spectre-org/spectre-css/src/spectre.scss";
@import "~/@spectre-org/spectre-css/src/spectre-icons.scss";
@import "~/@spectre-org/spectre-css/src/_calendars.scss";

@include bg-color-variant(".bg-light", $light-color);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.round-edges {
  border-radius: 10px;
}

.m-6 {
  margin: 24px;
}

.mt-18 {
  margin-top: 72px;
}

.calendar {
  min-width: 240px;
  max-width: 290px;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.text-nowrap {
  text-wrap: nowrap;
}

.mw-100 {
  max-width: 100vw;
}

.export-ics-dialog {
  position: relative;
  translate: -5rem 0;
}
